.button {
    cursor: pointer;
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 10px;
    margin: 15px;
  }
  
  .button:hover {
    background: red;
  }

  .data {
      font-size: 1.1rem;
      font-weight: 700;
  }